.jumbotron {
  background-color: #ffffff;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #ffffff;
  margin-top: 10px;
  margin-bottom: 0px;
  color: white; }

.card-licor {
  flex: 1 200px;
  padding: 2px 5px 2px 5px;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserve {
  width: 100%;
  border-radius: 0px; }

.social-links {
  column-fill: balance; }

.footer-address-icon {
  padding-right: 10px; }
