$yellow: #ffffff;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $yellow;
    color:white;
    @include margenes(50px, 0px);
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $yellow;  
    @include margenes(10px, 0px);
    color: white;
}

.card-licor {
    flex: 1 200px;
    padding: 2px 5px 2px 5px;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    @include margenes(10px, 0px);

}

.btn-reserve {
    width: 100%;
    border-radius: 0px;
}

.social-links {
    column-fill: balance;
}

.footer-address-icon {
    padding-right: 10px;
}